{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}User - cabinet{% endblock %}


{% block content %}
    <div class="container">
            <div class="row-12 d-flex" style="width: 18rem;">
                <a href="/admins" class="col-3 mr-sm-2 mr-2 mt-2">Книги</a>
                <a href="/admins/booking" class="col-8 mt-2">Заброньовані книги</a>
                <a href="/admins/booking" class="col-7 mt-2">Книги у читачів</a>
            </div>
        <div class="row d-flex mt-4">
            <div class="col-12 justify-content-center">
                <div class="h2 text-info">Не знайдено</div>
            </div>
        </div>
    </div>
{% endblock %}